<a href="https://colab.research.google.com/github/AINERD007/AINERD007/blob/main/Transforming_Categorical_Variables_into_Numerical_Formats_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample data
data = {'City': ['New York', 'London', 'Tokyo', 'New York', 'London']}
df = pd.DataFrame(data)

# Using Label Encoding
label_encoder = LabelEncoder()
df['City_encoded'] = label_encoder.fit_transform(df['City'])

print(df)

       City  City_encoded
0  New York             1
1    London             0
2     Tokyo             2
3  New York             1
4    London             0

**One-Hot Encoding:**

One-Hot Encoding creates binary columns for each category. Using the same "City" example:

In [2]:
# Using One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=['City'], prefix=['City'])

print(df_encoded)

   City_encoded  City_London  City_New York  City_Tokyo
0             1            0              1           0
1             0            1              0           0
2             2            0              0           1
3             1            0              1           0
4             0            1              0           0

**Normalizing Data:**
Example:
Normalization scales features to a standard range (commonly 0 to 1) to ensure consistency in the analysis, especially when features have different units or scales.

In [3]:
from sklearn.preprocessing import MinMaxScaler

# Sample data with a feature 'Age'
data = {'Age': [25, 30, 35, 40, 45]}
df = pd.DataFrame(data)

# Using Min-Max Normalization
scaler = MinMaxScaler()
df['Age_normalized'] = scaler.fit_transform(df[['Age']])

print(df)

   Age  Age_normalized
0   25            0.00
1   30            0.25
2   35            0.50
3   40            0.75
4   45            1.00